!!!
%html
  %head
    %title BallinCyril
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      %ul.menu
        = render 'shared/navigation'
      - flash.each do |name, msg|
        - if msg.is_a?(String)
          = content_tag :div, msg, :id => "flash_#{name}"
      = yield
      .footer
        %p copyright Paul Brown 2013